.BDayCard {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.BDayCard__form-container {
  max-width: 400px;
  padding: auto 20px;
  margin: auto;
}
.BDayCard__return-button-container {
  margin-top: 20px;
}
